@model IEnumerable<ProjectSubmission.Models.Submissions>

@{
    ViewData["Title"] = "Index";
}

<h2>Howdy!</h2>

<p>
    <h4>Please click the "Submissions" link above to add your idea!</h4>
    <h4>You will also be able to see others ideas, and you can search to see if your idea has already been submitted.</h4>
</p>

